html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

table.main {
	border-collapse: collapse;
	page-break-after: always;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

/*A4 sheet is 21.0 cm x 29.7 cm*/
td.main {
	border: 1px dotted white;
	/*width: 7.00cm;
	height: 4.95cm;*/
	/*width: 33%;*/
	height: 16%;
	text-align: center;
}

table.qso {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: left;
}

th, td {
	font-size: 0.3cm;
}

th.to_radio {
}

th.call {
	/*color: red;*/
	font-size: 0.6cm;
}

th.legend (
}

td.date {
}

td.time {
}

td.band {
}

td.mode {
}

td.rst {
}

td.footer {
}
